@font-face {
    font-family: "Arial";
    src: url("fonts/ArialRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "ArialBold";
    src: url("fonts/ArialBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: lightsteelblue;
}

@keyframes magic-cube {
    0% {
        margin-left: 50px;
        border-radius: 10%;
    }
    25% {
        margin-left: 25vw;
        border-radius: 50%;
        width: 90px;
        height: 90px;
    }
    50% {
        margin-left: 45vw;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        background: radial-gradient( rgb(255, 255, 255), rgb(26, 35, 63));
    }
    75% {
        margin-left: 70vw;
        border-radius: 50%;
        width: 90px;
        height: 90px;
    }
    100% {
        margin-left: 95vw;
        border-radius: 10%;
        width: 50px;
        height: 50px;
    }
}

@-webkit-keyframes clock {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes clock {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}
@keyframes clock {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.first-screen {
    width: 100vw;
    height: 100vh;
    float: left;
    background-image: url(./images/5a3258145b01f.png);;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 35px;
}

.logo {
    margin: 2% 5%;
}

.logo-img,
.logo-text {
    max-width: 200px;
    max-height: 150px;
    float: left;
}

.logo-text {
    margin-left: 1%;
}

.contacts {
    max-width: 350px;
    max-height: 140px;
    float: right;
    margin-right: 5%;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.block-subheader {
    position: absolute;
    top: 35%;
    left: 25%;
    width: 50%;
    height: 50%;
    border: 10px solid white;
    -webkit-box-shadow: 0 0 2px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 2px 1px rgba(0,0,0,0.3);
    box-shadow: 0 0 2px 1px rgba(0,0,0,0.3);
    color: white;
    font-size: 20vh;
    text-align: center;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.blocks-content {
    float: left;
    width: 100vw;
    padding: 2.5vw;
    background: rgba(26, 35, 63, 0.98);
}

.blocks-content a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.content {
    float: left;
    width: 25vw;
    height: 60vh;
    margin: 0 calc(20vw/6);
    padding: 2%;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.5);
    box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.5);
    background: rgb(26, 35, 63);
    text-align: center;
    text-shadow: 0 0 3px rgba(0,0,0,0.5);
}

.blocks-content i {
    padding: 4% 0;
    font-size: 100px;
}

.blocks-content h2 {
    padding: 3% 0;
    color: teal;
}

.content p {
    padding: 4%;
    line-height: 35px;
    text-align: justify;
}

.blocks-content a:nth-child(1) .content {
    -webkit-transition: transform 1s steps(2, end);
    -moz-transition: transform 1s steps(2, end);
    -ms-transition: transform 1s steps(2, end);
    transition: transform 1s steps(2, end);
}

.blocks-content a:nth-child(1) .content:hover {
    -webkit-transform: skewY(3deg);
    -moz-transform: skewY(3deg);
    -ms-transform: skewY(3deg);
    transform: skewY(3deg);
}

.blocks-content a:nth-child(2) .content {
    -webkit-transition: transform 1s steps(4, end);
    -moz-transition: transform 1s steps(4, end);
    -ms-transition: transform 1s steps(4, end);
    transition: transform 1s steps(4, end);
}

.blocks-content a:nth-child(2) .content:hover {
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}

.blocks-content a:nth-child(3) .content {
    -webkit-transition: transform 1s steps(8, end);
    -moz-transition: transform 1s steps(8, end);
    -ms-transition: transform 1s steps(8, end);
    transition: transform 1s steps(8, end);
}

.blocks-content a:nth-child(3) .content:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.anima-block {
    width: 100vw;
    height: 120px;
    position: relative;
}

.anima-square {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    left: 20px;
    margin: 5px;
    -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
    background:rgb(26, 35, 63);
    -webkit-animation: magic-cube 2s linear 0s 5 normal;
    -moz-animation: magic-cube 2s linear 0s 5 normal;
    -ms-animation: magic-cube 2s linear 0s 5 normal;
    -khtml-animation: magic-cube 2s linear 0s 5 normal;
    -o-animation: magic-cube 2s linear 0s 5 normal;
    animation: magic-cube 2s linear 0s 5 normal;
}

.anima-block .anima-square:nth-child(2) {
    -webkit-animation: magic-cube 2s linear 0.5s 3 normal;
    -moz-animation: magic-cube 2s linear 0.5s 3 normal;
    -ms-animation: magic-cube 2s linear 0.5s 3 normal;
    -khtml-animation: magic-cube 2s linear 0.5s 3 normal;
    -o-animation: magic-cube 2s linear 0.5s 3 normal;
    animation: magic-cube 2s linear 0.5s 3 normal;
}

.anima-block .anima-square:nth-child(3) {
    -webkit-animation: magic-cube 2s linear 1s 5 normal;
    -moz-animation: magic-cube 2s linear 1s 5 normal;
    -ms-animation: magic-cube 2s linear 1s 5 normal;
    -khtml-animation: magic-cube 2s linear 1s 5 normal;
    -o-animation: magic-cube 2s linear 1s 5 normal;
    animation: magic-cube 2s linear 1s 5 normal;
}

.anima-block .anima-square:nth-child(4) {
    -webkit-animation: magic-cube 2s linear 1.5s 3 normal;
    -moz-animation: magic-cube 2s linear 1.5s 3 normal;
    -ms-animation: magic-cube 2s linear 1.5s 3 normal;
    -khtml-animation: magic-cube 2s linear 1.5s 3 normal;
    -o-animation: magic-cube 2s linear 1.5s 3 normal;
    animation: magic-cube 2s linear 1.5s 3 normal;
}

.clock-block {
    width: 100vw;
    height: 250px;
}

.clock {
    width: 200px;
    height: 200px;
    position: relative;
    left: calc(50% - 100px);
    border: 2px solid grey;
    border-radius: 25%;
    -webkit-box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.5);
    background: #f2d5fd;
}

.number-hours {
    list-style-type: none;
    font-size: 25px;
    font-weight: 700;
}

.number-hours li:nth-child(1) {
    position: absolute;
    top: 3px;
    left: 88px;
}

.number-hours li:nth-child(2) {
    position: absolute;
    top: 85px;
    right: 5px;
}

.number-hours li:nth-child(3) {
    position: absolute;
    bottom: 3px;
    left: 92px;
}

.number-hours li:nth-child(4) {
    position: absolute;
    top: 85px;
    left: 5px;
}

.hour-hand,
.minute-hand,
.second-hand {
    -webkit-transform-origin: bottom center; 
    -ms-transform-origin: bottom center; 
    transform-origin: bottom center;
}

.hour-hand {
    width: 3px;
    height: 50px;
    position: absolute;
    top: 50px;
    left: 99px;
    background-color: black;
    -webkit-animation: clock 43200s steps(60, end) infinite;
    -moz-animation: clock 43200s steps(60, end) infinite;
    -ms-zoom-animation: clock 43200s steps(60, end) infinite;
    animation: clock 43200s steps(60, end) infinite;
}

.minute-hand {
    width: 2px;
    height: 65px;
    position: absolute;
    top: 35px;
    left: 99px;
    background-color: grey;
    -webkit-animation: clock 3600s steps(60, end) infinite;
    -moz-animation: clock 3600s steps(60, end) infinite;
    -ms-zoom-animation: clock 3600s steps(60, end) infinite;
    animation: clock 3600s steps(60, end) infinite;
}

.second-hand {
    width: 1px;
    height: 68px;
    position: absolute;
    top: 32px;
    left: 100px;
    background-color: orangered;
    -webkit-animation: clock 60s steps(60, end) infinite;
    -moz-animation: clock 60s steps(60, end) infinite;
    -ms-zoom-animation: clock 60s steps(60, end) infinite;
    animation: clock 60s steps(60, end) infinite;
}

