.drag {
    width: 200px;
    height: 200px;
    background: blue;
    margin-right: 10px;
    display: inline-block;
}
#big, 
#section {
    width: 415px;
    height: 200px;
    background: red;
    margin: 20px auto;
}
#box2 {
    margin: 0;
}
#section {
    background: grey;
}

/* /////////////////////////////////// */
#gate {
    cursor: pointer;
    margin-bottom: 100px;
    width: 83px;
    height: 46px;
}
#ball {
    cursor: pointer;
    width: 40px;
    height: 40px;
}

/* /////////////////////////////////// */
.slider {
    border-radius: 5px;
    background: #E0E0E0;
    background: linear-gradient(left top, #E0E0E0, #EEEEEE);
    width: 310px;
    height: 15px;
    margin: 5px;
  }
  
  .thumb {
    width: 10px;
    height: 25px;
    border-radius: 3px;
    position: relative;
    left: 10px;
    top: -5px;
    background: blue;
    cursor: pointer;
  }
/* /////////////////////////////////// */
.list {
    list-style-type: none;
    width: max-content;
    padding: 0;
    margin-left: 20px;
}
.developer {
    width: max-content;
    height: 30px;
    cursor: pointer;
}
.area-color {
    position: absolute;
    top: 33px;
    left: 300px;
    width: 200px;
    height: 130px;
    background: '';
}