@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway/Raleway-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: rgba(158, 250, 133, 0.5);
    max-width: 1920px;
    min-width: 400px;
    width: 80vw;
    margin: auto;
    font-size: 18px;
}

header, nav, ul {
    margin-top: 0;
}

.header, .footer {
    background: rgb(253, 178, 135);
    height: 60px;
    border-radius: 15px;
    border: 3px solid white;
}

.header {
    font-size: 1.3rem;
    text-align: right;
    box-sizing: border-box;
}

.header a {
    text-decoration: none;
    font-style: italic;
    color: blue;
}

a:hover {
    color: red;
}

.list-nav__item {
    display: inline-block;
    margin: 20px 35px;
}

.blog h2 {
    text-align: center;
}

.blog, .test-nth, .contacts {
    background: rgb(242, 249, 252);
    text-align: justify;
    margin: auto;
    border-radius: 15px;
    border: 3px solid gray;
    margin-top: 15px;
    line-height: 25px;
}

.blog__blog-article {
    padding: 0px 15px 15px;
}

.test-list__item:nth-child(2n) {
    color: cadetblue;
    font-weight: 600;
}

.test-list__item:nth-child(2n+1) {
    border: 2px dotted black;
}

.test-list__item {
    display: inline-block;
    padding-top: 10px;
    margin: 20px 25px 10px;
}

.test-nth {
    text-align: center;
}

.contacts {
    width: 30vw;
    min-width: 400px;
    text-align: center;
    padding-bottom: 20px;
    box-sizing: border-box;
}

.footer {
    text-align: left;
    font-size: 0.8em;
    margin: 15px 0px;
    padding: 15px;
    box-sizing: border-box;
}
