@import "variables";
@import "mixins";

.card__block {
    .article__block {
        grid-column: 1 / 3;
    }
    .aside__block {
        grid-column: 3 / 4;
    }
}
.article__block {
    .article__change {
        text-decoration: none;
    .article__note {
        background-color: #ffffff;
        border-left: 4px solid $primary-color;
        margin-bottom: 10px;
        padding-bottom: 15px;
        -webkit-box-shadow: 0px 1px 1px black;
        -moz-box-shadow: 0px 1px 1px black;
        box-shadow: 0px 1px 1px black;
            .note__subheader {
                font-size: 24px;
                font-weight: bold;
                padding: 28px 35px 4px;
                color: $secondary-color;
                @media (max-width: 480px) {
                    @include padding-title-ad;
                }
            }
            .note__subheader__small {
                font-size: 18px;
                font-weight: bold;
                padding: 28px 25px 4px;
                color: $secondary-color;
            }
            .note__comment {
                padding: 0px 25px;
                .date__comments {
                    list-style-type: none;
                    display: inline-block;
                    text-decoration: none;
                    font-family: Tahoma;
                    font-size: 10px;
                    color: $comment-text-color;  
                }
                .date__comments:after {
                    content: "|";
                    margin: 0px 1vw;
                    font-size: 16px;
                    color: $comment-text-color;
                }
                .date__comments:last-child:after {
                    content: "";
                }
            }
            .note__text {
                font-size: 14px;
                line-height: 1.5;
                color: $secondary-light-color;
                padding: 15px 25px 0px;
            }
        }
    }
    .details {
        width: 100%;
        height: 60px;
        text-shadow: 0px 1px 0 #ffffff;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        padding-top: 25px;
        color: $comment-text-color;
    }
    .article__content {
        background-color: #ffffff;
        padding-bottom: 15px;
        margin-top: 25px;
        -webkit-box-shadow: 0px 1px 1px black;
        -moz-box-shadow: 0px 1px 1px black;
        box-shadow: 0px 1px 1px black;
        color: $secondary-light-color;
        text-align: left;
        @media (max-width: 480px) {
            margin-top: 10px;;
        }
        .subheader__content {
            font-size: 30px;
            font-weight: bold;
            padding: 30px 50px;
            @media (max-width: 480px) {
                @include padding-title-ad;
            }
        }
        .img__content {
            width: 100%;
            height: auto;
        }
        .text__content {
            font-size: 14px;
            font-weight: bold;
            line-height: 1.71;
            padding: 0px 50px 20px;
            @media (max-width: 480px) {
                @include padding-title-ad;
            }
            .selected__text {
                color: $primary-color;
            }
        }
        .text__content__normal {
            font-size: 14px;
            line-height: 1.79;
            padding: 4px 50px 20px;
            color: $comment-text-color;
            @media (max-width: 480px) {
                @include padding-title-ad;
            }
        }
    }
    .date__likes {
        height: 40px;
        margin: 2px 0px 20px;
        -webkit-box-shadow: 0px 1px 1px black;
        -moz-box-shadow: 0px 1px 1px black;
        box-shadow: 0px 1px 1px black;
        padding: 13px 25px 0px;
        font-size: 12px;
        color: $secondary-light-color;
        position: relative;
        .date__content {
            text-align: left;
        }
        .quantity__likes {
            position: absolute;
            top: 13px;
            right: 48px;
        }
        .fa-heart {
            position: absolute;
            top: 13px;
            right: 25px;
            color: $primary-color;
        }
    }
}
.article__change:hover {
    .article__note {
    background-color: $primary-color;
    border-left: 4px solid #ce4e32;
        .note__subheader {
            color: #ffffff;
        }
        .note__subheader__small {
            color: #ffffff;
        }
        .note__comment {
            .date__comments {
                color: #ffffff;  
            }
            .date__comments:after {
                content: "|";
                color: #ffffff;
            }
        }
        .note__text {
            color: #ffffff;
        }
    }
}

.aside__content {
    background-color: $secondary-color;
    max-width: 100%;
    position: relative;
    .img__marker {
        position: absolute;
        top: 0;
        right: 0;
    }
    .body__aside {
        font-family: Arial, Helvetica, sans-serif;
        max-width: 100%;
        height: auto;
        .title__aside {
            font-size: 25px;
            font-weight: bold;
            padding: 20px 25px;
            color: #ffffff;
        }
        .text__aside {
            font-size: 12px;
            font-weight: 400;
            padding: 0px 25px 25px;
            line-height: 2;
            color: #ffffff;
        }
    }
}
.aside__article {
    text-align: left;
    text-shadow: 0px 1px 0 #ffffff;
    padding: 33px 10px 20px 16px;
    @media (max-width: 480px) {
        @include padding-title-ad;
    }
    .aside__article__subheader {
        font-size: 19px;
        font-weight: bold;
        line-height: 1.26;
        color: $secondary-color;
    }
    .aside__article__text {
        margin-top: 25px;
        font-size: 12px;
        line-height: 1.92;
        color: #a7a7a7;
    }
    .date__aside__article {
        margin: 20px 0px;
        font-size: 12px;
        color: $comment-text-color;
    }
}
.line {
    width: 93%;
    margin-left: 16px;
    border-bottom: 1px solid black;
    -webkit-box-shadow: 0px 1px 1px white;
    -moz-box-shadow: 0px 1px 1px white;
    box-shadow: 0px 1px 1px white;
}
.nav__aside {
    min-height: 45px;
    background-color: #ffffff;
    padding: 13px 20px 10px 25px;
    margin-top: 7px;
    border-left: 3px solid #cacaca;
    -webkit-box-shadow: 0px 1px 1px black;
    -moz-box-shadow: 0px 1px 1px black;
    box-shadow: 0px 1px 1px black;
    color: $secondary-color;
    text-align: left;
    .nav__aside__title {
        display: inline;
        font-size: 16px;
        font-weight: bold;
    }
    .nav__aside__text {
        padding-left: 5px;
        font-size: 12px;
        color: #a7a7a7;
    }
}
@media (max-width: 576px) {
    .card__block {
        .article__block {
            grid-column: 1 / 6;
        }
        .aside__block {
            grid-column: 1 / 6;
            .nav__aside {
                width: 90%;
                margin-left: 5%;
            }
        }
    }
}
@media (max-width: 480px) {
    .card__block {
        .aside__block {
            .nav__aside {
                width: calc(100% - 50px);
                margin-left: 25px;
                margin-right: 25px;
            }
        }
    }
}

