@import "variables";

.main__image {
    grid-column: 2 / 4;
    background-image: url(./images/Layer4.jpg);
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    .image__caption {
        width: auto;
        height: 70px;
        color: #ffffff;
        font-size: 16px;
        padding: 26px 30px 0px 15px;
        background-color: rgba(0, 0, 0, 0.4);
    }
}
.main__block__content {
    grid-column: 4 / 5;
    position: relative;
    height: 390px;
    background-color: #373737;
    min-width: 300px;
    display: flex;
    flex: 0 0 auto;
    .side__marker {
        position: absolute;
        width: 9px;
        height: 390px;
        background-color: $primary-color;
    }
    .side__marker:after {
        content: "";
        position: absolute;
        top: 42px;
        right: -32px;
        border: 16px solid transparent;
        border-left: 16px solid $primary-color;
    }
}
.main__block__subheader {
    position: absolute;
    left: 12px;
    margin: 45px 15% 0;
    .main__subheader {
        font-size: 19px;
        font-weight: 700;
        line-height: 1.26;
        text-align: left;
        color: #ffffff;
    }
    .main__content {
        font-size: 12px;
        line-height: 1.92;
        text-align: left;
        color: #a7a7a7;
        margin-top: 15px;
    }
    .date__article {
        text-align: right;
        margin-top: 15px;
        .fa-clock {
            font-size: 18px;
            color: $comment-text-color;
        }
        .date__content {
            font-size: 12px;
            color: #a7a7a7;
        }
    }
}
.card__block {
    grid-column: 2 / 5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(min-content max-content);
    grid-gap: 20px;
    .card__cell {
        width: 100%;
        position: relative;
        background-color: #ffffff;
        margin-top: 15px;
        -webkit-box-shadow: 0px 1px 0 0 #d3d3d3;
        -moz-box-shadow: 0px 1px 0 0 #d3d3d3;
        box-shadow: 0px 1px 0 0 #d3d3d3;
        .card__img {
            object-fit: cover;
        }
        .triangle__marker {
            position: absolute;
            top: 0px;
            right: 0px;
            display: inline-block;
            width: 77px;
            height: 77px;
            border-style: solid;
            border-width: 0 77px 77px 0;
            border-color: transparent $primary-color transparent transparent;
            .triangle__plus {
                position: absolute;
                top: 8px;
                right: -63px;
                z-index: 2;
                font-size: 28px;
                color: white;
            }
        }
        .body__card {
            font-family: Arial, Helvetica, sans-serif;
            width: 100%;
            height: auto;
            .title__card {
                font-size: 25px;
                font-weight: bold;
                padding: 20px 25px;
                color: $secondary-color;
            }
            .text__card {
                font-size: 12px;
                font-weight: 400;
                align-items: flex-end;
                padding: 0px 25px 25px;
                line-height: 2;
                color: $secondary-light-color;
            }
        }
    }
}
@media (max-width: 1200px) {
    .navigation {
        .nav__list {
            margin-left: $side-area-lg;
        }
    }
}
@media (max-width: 992px) {
    .navigation {
        .nav__list {
            margin-left: $side-area-md;
        }
    }
    .main__image {
        .image__caption {
            max-width: 100%;
        }
    }
}
@media (max-width: 768px) {
    .main__image {
        .image__caption {
            font-size: 12px;
            padding: 26px 10px 0px 10px;
        }
    }
    .main__image {
        grid-column: 2 / 3;
    }
    .main__block__content {
        grid-column: 3 / 5;
    }
    .card__block {
        grid-column: 2 / 5;       
        grid-auto-flow: row dense;
        grid-gap: 10px;  
    }
}
@media (max-width: 576px) {
    .image__caption {
        display: none;
    }
    .card__block {
        margin-top: 10px;
        .card__cell {
            grid-column: 1 / 6;
            margin-top: 0;
            .card__img {
                width: 100%;
                height: auto;
            }
        } 
    }
}
@media (max-width: 460px) {
    .main__image {
        display: none;
    }
    .main__block__content {
        grid-column: 1 / 6;
        min-width: 100%;
        height: 360px;
        .side__marker {
            height: 360px;
        }
    }
}