@import "variables";

.footer {
    display: grid;
    grid-column: 1 / 6;
    min-height: 140px;
    background: #373737;
    margin-top: 100px;
    .footer__content {
        margin-left: $side-area-xl;
        margin-right: $side-area-xl;
        .footer__nav {
            list-style-type: none;
            padding: 35px 0 20px 0;
            &__items {
                display: inline-block;
                .footer__item__link {
                    text-decoration: none;
                    font-size: 12px;
                    padding-right: 20px;
                    text-align: left;
                    color: #ffffff;
                }
            }
        }
        .footer__text {
            font-size: 11px;
            color: $comment-text-color;
            text-align: left;
            line-height: 1.91;
        }
    }

}

@media (max-width: 1200px) {
    .footer {
        .footer__content {
            margin-left: $side-area-lg;
            margin-right: $side-area-lg;
        }
        margin-top: 30px;
    }
}
@media (max-width: 992px) {
    .footer {
        .footer__content {
            margin-left: $side-area-md;
            margin-right: $side-area-md;
        }
    }
}
@media (max-width: 768px) {
    .footer {
        .footer__content {
            margin-left: $side-area-sm;
            margin-right: $side-area-sm;
        }
    padding-left: 20px;
    padding-right: 20px;
    }
}


