$primary-color: #f26c4f;
$secondary-color: #474747;
$secondary-light-color: #707070;
$comment-text-color: #8f8f8f;
$side-area-xl: 250px;
$side-area-lg: 100px;
$side-area-md: 20px;
$side-area-sm: 15px;
