@import "variables";
@import "header";
@import "nav";
@import "searchSocial";
@import "blockContentCard";
@import "articleAside";
@import "footer";

@font-face {
    font-family: "Arial";
    src: url("fonts/ArialRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "ArialBold";
    src: url("fonts/ArialBold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: "Tahoma";
    src: url("fonts/Tahoma.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Nexa-Regular";
    src: url("fonts/Nexa-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    body {
        display: grid;
        grid-template-columns: $side-area-xl 1fr 1fr 1fr $side-area-xl;
        grid-template-rows: 70px minmax(70px, max-content)  minmax(70px, max-content) minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content);
        height: auto;
        font-family: Arial;
        background-color: #ebebeb;
        .side__free__left {
            grid-column: 1 / 2;
            grid-row: 3 / 7;
        }
        .side__free__right {
            grid-column: 5 / 6;
            grid-row: 3 / 7;
        }
    }
}
@media (max-width: 1200px) {
    body {
        display: grid;
        grid-template-columns: $side-area-lg 1fr 1fr 1fr $side-area-lg;
    }
}
@media (max-width: 992px) {
    body {
        display: grid;
        grid-template-columns: $side-area-md 1fr 1fr 1fr $side-area-md;
    }
}
@media (max-width: 768px) {
    * {
        body {
            .side__free__left {
                grid-column: 1 / 1;
                grid-row: 3 / 3;
            }
            .side__free__right {
                grid-column: 6 / 6;
                grid-row: 7 / 7;
            }
        }
    }
}

