@font-face {
    font-family: "Arial";
    src: url("fonts/ArialRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "ArialBold";
    src: url("fonts/ArialBold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: "Tahoma";
    src: url("fonts/Tahoma.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Nexa-Regular";
    src: url("fonts/Nexa-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body, li {
    font-family: Nexa-Regular, Arial;
    background-color: cornsilk;
}
