@font-face {
    font-family: "Arial";
    src: url("fonts/ArialRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "ArialBold";
    src: url("fonts/ArialBold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: "Tahoma";
    src: url("fonts/Tahoma.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Nexa-Regular";
    src: url("fonts/Nexa-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    min-height: 1500px;
    font-family: Arial;
    background-color: #ebebeb;
}
.empty__area,
.wrapper,
.header,
.nav,
.footer,
.search__social,
.search__block,
.main,
.main__image {
    padding: 0;
    margin: 0;
    border: 0;
}
.header,
.footer {
    height: 70px;
    background-color: #373737;
}
.logo {
    width: 200px;
    height: 70px;
    position: relative;
}
.icon__logo {
    position: absolute;
    top: 5px;
    left: 30px;
    font-size: 36px;
    z-index: 3;
    color: #ffffff;
}
.icon__header {
    width: 80px;
    height: 70px;
    position: absolute;
    z-index: 2;
    background-color: #f26c4f;
}
.icon__two__header {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 13px;
    left: 47px;
    z-index: 1;
    background-color: #f26c4f;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}
.subheader {
    position: absolute;
    top: 22px;
    left: 106px;
    font-size: 18px;
    font-style: normal;
    color: #ffffff;
}
.navigation {
    height: 70px;
    background-color: #474747;
    padding-left: 1.5vw;
}
.nav__item {
    list-style-type: none;
    display: inline-block;
    padding: 24px 1.5vw 28px 0px;
}
.nav__item__link {
    text-decoration: none;
    font-size: 12px;
    color: #ffffff;
}
.nav__item:after {
    content: "|";
    margin-left: 1.5vw;
    color: #ffffff;
}
.nav__item:last-child:after {
    content: "";
}
.nav__item__link:hover {
    border-bottom: 4px solid #f26c4f;
    padding: 22px 0px;
    text-decoration: none;
    color: #ffffff;
}
.search__social {
    height: 70px;
}
.search__block {
    padding-top: 12px;
}
.search__form {
    position: relative;
}
.search-input {
    height: 46px;
    width: 100%;
    padding-left: 20px;
    -webkit-box-shadow: 0px 1px 1px 0;
    -moz-box-shadow: 0px 1px 1px 0;
    box-shadow: 0px 1px 1px 0;
}
.search-input::placeholder {
    font-size: 12px;
    font-weight: 700;
    color: #959595;
}
.search-form .fa-clock {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 27px;
    left: calc(100% - 28px);
    color: #f26c4f;
}
.social__but {
    text-align: right;
}
.social__but i {
    margin: 0 2%;
    padding-top: 30px;
    font-size: 12px;
    color: #8f8f8f;
}
.social__name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-left: 5px;
    color: #8f8f8f;
}
.main__image {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.img__bridge {
    z-index: 1;
    max-height: 390px;
    min-height: 390px;
    width: 100%;
}
.image__caption {
    position: absolute;
    z-index: 2;
    width: 55%;
    height: 70px;
    color: #ffffff;
    font-size: 16px;
    padding: 3% 2% 0 5%;
    background-color: rgba(0, 0, 0, 0.4);
}
.main__block__content {
    position: relative;
    height: 390px;
    padding: 0;
    background-color: #373737;
}
.side__marker {
    position: absolute;
    width: 9px;
    height: 390px;
    background-color: #f26c4f;
}
.main__block__subheader {
    position: absolute;
    left: 12px;
    margin: 45px 15% 0;
}
.main__subheader {
    font-size: 19px;
    font-weight: 700;
    line-height: 1.26;
    text-align: left;
    color: #ffffff;
}
.main__content {
    font-size: 12px;
    line-height: 1.92;
    text-align: left;
    color: #a7a7a7;
}
.date__article {
    text-align: right;
}
.date__article .fa-clock {
    font-size: 18px;
    color: #8f8f8f;
}
.date__content {
    font-size: 12px;
    color: #a7a7a7;
}
.footer {
    display: flex;
    align-items: flex-end;
}
